#snake-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 12px);
    grid-template-rows: repeat(var(--rows), 12px);
    gap: 1px;
}

.tile {
    width: 12px;
    height: 12px;
    outline: 1px solid rgb(239, 239, 232);
}