#snake-grid{
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
    grid-template-rows: repeat(var(--rows),1fr);
    transition: 1s;
}
.head, .snake-piece {
    transition: 500ms;
}

.tile {
    outline: 1px solid rgb(212, 212, 219);
}